---
interface Props {
  size?: 'small' | 'medium' | 'large';
  class?: string;
}

const { size = 'large', class: className = '' } = Astro.props;
---

<div class={`container -${size} ${className}`}>
  <slot />
</div>

<style>
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--sp-lg);
  }

  @media (min-width: 600px) {
    .container {
      padding: 0 var(--sp-2xl);
    }

    .container.-small {
      max-width: calc(var(--container-sm) + var(--sp-2xl) * 2);
    }

    .container.-medium {
      max-width: calc(var(--container-md) + var(--sp-2xl) * 2);
    }

    .container.-large {
      max-width: calc(var(--container-lg) + var(--sp-2xl) * 2);
    }
  }
</style>
